@import url('https://fonts.googleapis.com/css?family=Archivo|Montserrat');

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-x: visible;
	font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 22px "Montserrat", Futura, sans-serif;
  left: 0px;
  position: relative;
  min-height: 100%;
	background-color: #ffffff;
}

h3{
  text-align: center;
  color: #353434;
  font-size: 36px;
}

img{
  opacity: 0.9;
}

label{
  color: #353434;
  font: 19px "Montserrat", Futura, sans-serif;
}

p.thresholds{
  color: #353434;
  font: 20px "Montserrat", Futura, sans-serif;
  text-align: right;
}

input{
  text-align: right;
  color: #353434;
  font: 22px "Montserrat", Futura, sans-serif;
  height: 30px;
  width: 150px;
}

input[type=checkbox] {
    zoom: 0.5;
}

textarea:focus,
input:focus {
  outline: 0;
}

input.snazzy,
textarea.snazzy {
	color: #060212;
  font-size: 24px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  height: 30px;
  width: 150px;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
}
/* Underline and Placeholder */

input.snazzy + label,
textarea.snazzy + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 150px;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

input.snazzy:focus + label {
  width: 150px;
}

input.snazzy:focus + label > span,
input.snazzy:valid + label > span {
  top: -100px;
  font-size: 24px;
  /* color: white; */
}

input.snazzy:valid + label{
  margin-bottom: 30px;
  border-color: #671515;
  border-width: 2px;
  width: 145px;
  left: 165px;
  text-align: right;
}

input.snazzy:invalid  + label{
  box-shadow: none;
	  margin-bottom: 30px;
	  border-color: red;
	  border-width: 2px;
	  width: 185px;
	  left: 125px;
	  text-align: right;
}

/* NavBar text*/

.navbar-custom{
  /* color: #fffeff; */
  font: 19px "Montserrat", Futura, sans-serif;
}

/* Select style here */
.select {
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.select select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  padding: 0.5em 0em 0.5em 0.5em;
  margin: 0;

  width: 100px;
  transition: border-color 0.2s;
  border: 0px solid black;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 1px rgba(181, 181, 181, 0.537);
  background: rgba(227, 227, 227, 0.071);
  color: #353434;
  line-height: normal;
  font: 15px "Montserrat", Futura, sans-serif;
  line-height: inherit;

  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 12px) calc(1em + 2px),
    calc(100% - 8px) calc(1em + 2px),
    calc(100% - 1.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.title{
	margin-top: 20px;
	margin-bottom: 20px;
  text-align: center;
  font: 30px "Montserrat", Futura, sans-serif;
	color: #353434;
}

.sectiontitle{
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
  font: 24px "Montserrat", Futura, sans-serif;
	border-bottom: 0px solid white;
	padding-bottom: 5px;
	width: 250px;
}

.subsectiontitle{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
  font: 18px "Montserrat", Futura, sans-serif;
}

.jumbotron {
    background-color:transparent !important;
}

.large{
   font: 64px "Montserrat", Futura, sans-serif;
   text-align: center;
}

.centerit{
  text-align: center;
  color: #181818;
  font: 19px "Montserrat", Futura, sans-serif;
}

.subtitle1{
  text-align: center;
  color: #8B8988;
  font: 24px "Montserrat", Futura, sans-serif;
}

.subtitle2{
  text-align: center;
  color: #688688;
  font: 20px "Montserrat", Futura, sans-serif;
}

.footer{
  font: 12px "Montserrat", Futura, sans-serif;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  bottom: 30;
}

.footer2{
  font: 14px "Montserrat", Futura, sans-serif;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  bottom: 0;
	position: fixed;
}

.footer3{
  font: 14px "Montserrat", Futura, sans-serif;
  width: 100%;
  text-align: right;
  margin-bottom: -20px;
  bottom: 0;
}

.hozspace{
  margin-left: 5px;
}

.halfvertspace{
  margin-top: 25px;
}

.vertspace{
  margin-top: 50px;
}

.hozvertspace{
  margin-left: 5px;
  margin-top: 25px;
}

.inline {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  float:right;
}

.small{
  font: 12px "Montserrat", Futura, sans-serif;
  margin-left: 40px;
  right : 30px;
  text-align: left;
}

.atthetopright {
  position : absolute;
  right : 0px;
  top : 0px;
}

.attheright {
  position : relative;
  right : 50px;
  float:right;
}

.atthebottom {
  position : absolute;
  right : 50px;
  bottom : 80px;
}

.label-lefty{
  display: inline-block;
  width: 140px;
  text-align: right;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.label-lefty-long{
  display: inline-block;
  width: 220px;
  text-align: right;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 0px;
}

.label-righty{
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

/* Charts */
.recharts-wrapper {
	font-family: 'Montserrat', sans-serif;
  font: 14px "Montserrat", Futura, sans-serif;
  fill: black;
}

.recharts-wrapper .recharts-layer .recharts-pie-labels{
	font-family: 'Montserrat', sans-serif;
  font: 18px "Montserrat", Futura, sans-serif;
  fill: black;
}

/* ----- Overview ----- */
.overview-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 767px) {
    .overview-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .overview-wrap .button {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .overview-wrap h2 {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

.overview-item {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 30px;
    padding-bottom: 0;
    /* -webkit-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.3); */
    box-shadow: 2px 2px 3px 2px rgba(154, 152, 152, 0.715);
    margin-bottom: 40px;
	  min-width: 425px;
	  min-height: 450px;
	  max-width: 500px;
	  max-height: 500px;
    color: black;
    z-index: 10;
    background-color: #fffdfd;
    /* background-color: #f3f3f5; */
    /* background-image: url('../images/Abstract-Timekeeper3.svg'); */
    /* background-image: url('../images/Sun-Tornado.svg'); */
    animation-fill-mode: forwards;
    -webkit-animation: cloud-animation 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: cloud-animation 2s; /* Firefox < 16 */
        -ms-animation: cloud-animation 2s; /* Internet Explorer */
         -o-animation: cloud-animation 2s; /* Opera < 12.1 */
            animation: cloud-animation 2s;
}

@media (min-width: 992px) and (max-width: 1519px) {
    .overview-item {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.overview-item--c1 {
    /* background-image: -moz-linear-gradient(90deg, #6b7edd 0%, #c5b6b9 100%);
    background-image: -webkit-linear-gradient(90deg, #6b7edd 0%, #c5b6b9 100%);
    background-image: -ms-linear-gradient(90deg, #6b7edd 0%, #c5b6b9 100%); */
	  min-width: 275px;
	  min-height: 450px;
	  max-width: 350px;
	  max-height: 500px;
		margin-left: 40px;
		margin-right: 20px;
}

.overview-item--c2 {
    /* background-image: -moz-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
    background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
    background-image: -ms-linear-gradient(90deg, #11998e 0%, #38ef7d 100%); */
}

.overview-item--input {
    /* background-image: -moz-linear-gradient(90deg, #ca5a63 0%, #eeab4d 100%);
    background-image: -webkit-linear-gradient(90deg, #ca5a63 0%, #eeab4d 100%);
    background-image: -ms-linear-gradient(90deg, #ca5a63 0%, #eeab4d 100%); */
	  min-width: 395px;
	  min-height: 450px;
	  max-width: 400px;
	  max-height: 500px;
		margin-left: 20px;
		margin-right: 20px;
}

.overview-item--output {
    /* background-image: -moz-linear-gradient(90deg, #449c47 0%, #cfc357 100%);
    background-image: -webkit-linear-gradient(90deg, #449c47 0%, #cfc357 100%);
    background-image: -ms-linear-gradient(90deg, #449c47 0%, #cfc357 100%); */
	  min-width: 420px;
	  min-height: 450px;
	  max-width: 440px;
	  max-height: 500px;
		margin-left: 20px;
		margin-right: 20px;
}

.overview-item--white {
		color: black;
}

.overview-item--white {
		color: black;
}

.overview-box .icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.overview-box .icon i {
    font-size: 60px;
    color: #fff;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .overview-box .icon {
        margin-right: 3px;
    }

    .overview-box .icon i {
        font-size: 30px;
    }
}

@media (max-width: 991px) {
    .overview-box .icon {
        font-size: 46px;
    }
}

.overview-box .text {
    font-weight: 300;
    display: inline-block;
}

.overview-box .text h2 {
    font-weight: 300;
    color: #fff;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 5px;
}

.overview-box .text span {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 992px) and (max-width: 1199px) {
    .overview-box .text {
        display: inline-block;
    }

    .overview-box .text h2 {
        font-size: 20px;
        margin-bottom: 0;
    }

    .overview-box .text span {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .overview-box .text h2 {
        font-size: 26px;
    }

    .overview-box .text span {
        font-size: 15px;
    }
}

.overview-chart {
    height: 115px;
    position: relative;
}

.overview-chart canvas {
    width: 100%;
}


.page-container {
    /* background: #6389fc8b; */
    /* background-image: url('../images/Page-Turner.svg'); */
    /* background-image: url('../images/Scattered-Forcefields.svg'); */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    /* z-index: 10; */
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@keyframes cloud-animation {
  from {
    transform: translateY(30vw);
  }
  to {
    transform: translateY(0);
  }
}

/* Firefox < 16 */
@-moz-keyframes cloud-animation {
  from {
    transform: translateY(30vw);
  }
  to {
    transform: translateY(0);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes cloud-animation {
  from {
    transform: translateY(30vw);
  }
  to {
    transform: translateY(0);
  }
}

/* Internet Explorer */
@-ms-keyframes cloud-animation {
  from {
    transform: translateY(30vw);
  }
  to {
    transform: translateY(0);
  }
}

/* Opera < 12.1 */
@-o-keyframes cloud-animation {
  from {
    transform: translateY(30vw);
  }
  to {
    transform: translateY(0);
  }
}


/* background animation */


@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: -1;
}
.waveWrapperInner {
  position: fixed;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  /* background-image: linear-gradient(to top, #90aae17b 20%, #5972f100 80%); */
  /* background-image: linear-gradient(to top, #b36f1b1e 20%, #5972f100 80%); */
  /* background-image: linear-gradient(to top, #fafafa1d 20%, #ffffff00 80%); */
  background-image: linear-gradient(to top, #f6f8fab3 20%, #f7f7f7 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}



#_checkbox
{
    display: none;
}

.checklabel
{
    /* position: absolute; */
    /* top: 50%; */
    right: 0;
    left: 0;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #f72414;
    transform: translateY(20%) translateX(40%);
    border-radius: 50%;
    box-shadow: 0 7px 10px #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
}

.checklabel:before
{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 7px 10px #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
}

.checklabel:hover:before
{
    width: 18px;
    height: 18px;
    box-shadow: inset 0 7px 10px #ff9d96;
}

.checklabel:active
{
    transform: translateY(-50%) scale(0.9);
}

#tick_mark
{
    /* position: absolute; */
    top: -1px;
    right: 0;
    left: 0;
    width: 23px;
    height: 23px;
    margin: 0 auto;
    margin-left: 7px;
    transform: rotateZ(-40deg);
}

#tick_mark:before, #tick_mark:after
{
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark:before
{
    left: 0;
    bottom: 0;
    width: 4px;
    height: 13px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.23);
    transform: translateY(-68px)
}

#tick_mark:after
{
    left: 0;
    bottom: 0;
    width: 90%;
    height: 4px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.23);
    transform: translateX(78px)
}

#_checkbox:checked + .checklabel
{
    background-color: #07d410;
    box-shadow: 0 7px 5px #92ff9872;
}

#_checkbox:checked + .checklabel:before
{
    width: 0;
    height: 0;
}

#_checkbox:checked + .checklabel #tick_mark:before, #_checkbox:checked + label #tick_mark:after
{
    transform: translate(0);
    opacity: 1;
}