body {
  font: 18px "Arial", Futura, sans-serif;
  margin: 20px;
  background-image: url("../money.jpg");
}
img{
  opacity: 0.2;
}

input{
  text-align: right;
  font: 18px "Arial", Futura, sans-serif;
  height: 30px;
  width: 140px;
}

input[type=checkbox] {
    zoom: 0.5;
}

.atthebottom {
  position : absolute;
  right : 50px;
  bottom : 50px;
}

.label-righty{
  font-weight: bold;
  display: inline-block;
  width: 280px;
  text-align: right;
  margin-top: 25px;
}

.label-righty-red{
  font-weight: bold;
  display: inline-block;
  width: 280px;
  text-align: right;
  color: red;
  margin-top: 25px;
}

.label-righty-blue{
  font-weight: bold;
  display: inline-block;
  width: 280px;
  text-align: right;
  color: blue;
  margin-top: 25px;
}
