body {
  font: 18px "Palatino", Futura, sans-serif;
  margin: 20px;
  background-color: #FEFEFE;
  #background-image: url("../money_high.jpeg");
}
img{
  opacity: 0.2;
}

input{
  text-align: right;
  font: 18px "Palatino", Futura, sans-serif;
  height: 30px;
  width: 140px;
}

input[type=checkbox] {
    zoom: 0.5;
}

.footer{
  font: 12px "Palatino", Futura, sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.inline {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  float:right;
}

.small{
  font: 12px "Palatino", Futura, sans-serif;
  position: fixed;
  right : 30px;
  text-align: center;
}

.atthetopright {
  position : absolute;
  right : 0px;
  top : 0px;
}

.atthebottom {
  position : absolute;
  right : 50px;
  bottom : 80px;
}

.label-lefty{
  display: inline-block;
  width: 250px;
  text-align: right;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.label-righty{
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 10px;
}
